<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.cloud.analytics.v10</id>
    <name><![CDATA[云端运维]]></name>
    <active>yes</active>
    <hidden>yes</hidden>
    <auto-update>true</auto-update>
    <sync>no</sync>
    <version>2.13.0.20230105</version>
    <env-version>10.0~10.0</env-version>
    <jartime>2020-05-25</jartime>
    <vendor>finereport</vendor>
    <description><![CDATA[生成系统运行的日志文件]]></description>
    <workspace-independent>yes</workspace-independent>
    <designer-pack-version>10</designer-pack-version>
    <change-notes><![CDATA[
        [2023-01-05] 修复若干已知问题 <br/>
        [2022-11-11] 问题修复 <br/>
        [2022-10-20] 版本兼容优化和问题修复 <br/>
        [2021-11-25] 修复若干已知问题 <br/>
        [2021-07-28] 解决 appId 重复的问题；提供更准确的客户端识别 <br/>
        [2021-06-03] 设计器支持云端运维插件 <br/>
        [2021-04-22] 新增部分日志记录 <br/>
        [2021-02-03] 资源迁移服务器数据集、子模版记录 <br/>
        [2021-01-14] 1.新增定时任务等埋点  2.稳定性提升 <br/>
        [2020-12-16] 稳定性提升 <br/>
        [2020-11-23] 1.优化自动更新接口 2.稳定性提升 <br/>
        [2020-08-07] 云端运维界面增加设置通知邮箱，支持设置云端运维报告的通知邮箱，在数据包分析完后，向对应邮箱发送通知邮件 <br/>
        [2020-06-29] 云端运维插件适配JDK1.7 <br/>
    ]]></change-notes>
    <prefer-packages>
        <prefer-package>com.fr.plugin.cloud</prefer-package>
    </prefer-packages>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.cloud.analytics.base.locale.CloudAnalyticsLocaleFinder"/>
        <IOFileAttrMark class="com.fr.plugin.cloud.analytics.attr.TemplateInfoAttrMark"/>
    </extra-core>
    <extra-report>
        <JavaScriptPlaceHolder class="com.fr.plugin.cloud.analytics.web.component.FineMarkIdJavaScriptPlaceHolder"/>
    </extra-report>
    <extra-form>
        <JavaScriptPlaceHolder class="com.fr.plugin.cloud.analytics.web.component.FineMarkIdJavaScriptPlaceHolder"/>
    </extra-form>
    <extra-decision>
        <ControllerRegisterProvider class="com.fr.plugin.cloud.analytics.base.web.CloudAnalyticsControllerBridge"/>
        <SystemOptionProvider class="com.fr.plugin.cloud.analytics.base.option.CloudAnalyticsOption"/>
        <StableKeyArgsProvider class="com.fr.plugin.cloud.analytics.base.mutable.CloudAnalyticsMetric"/>
        <StableKeyArgsProvider class="com.fr.plugin.cloud.analytics.base.mutable.CloudAnalyticsWorkspace"/>
    </extra-decision>
    <lifecycle-monitor class="com.fr.plugin.cloud.analytics.lifecycle.CloudAnalyticsMonitor"/>
    <function-recorder class="com.fr.plugin.cloud.analytics.web.controller.CloudAnalyticsResource"/>
</plugin>
