<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kenshine.demo03.mapper.StudentMapper">


    <select id="getAll" resultType="com.kenshine.demo03.domain.Student">
        SELECT * FROM student
    </select>
    <select id="getById" resultType="com.kenshine.demo03.domain.Student">
        SELECT * FROM student
        where id=#{id}
    </select>
</mapper>