<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.kenshine.mapper.UserDAO">

    <resultMap id="userMap" type="com.kenshine.entity1.User">
        <id column="uid" property="id"/>
        <result column="username" property="username"/>
        <!--角色信息-->
        <collection property="roles" javaType="list" ofType="com.kenshine.entity1.Role">
            <id column="id" property="id"/>
            <result column="rname" property="name"/>
        </collection>
    </resultMap>


    <select id="save">
        insert into t_user values(#{id},#{username},#{password},#{salt})
    </select>
    <select id="findByUserName" resultType="com.kenshine.entity1.User">
        select id,username,password,salt from t_user where username = #{username}
    </select>

    <select id="findRolesByUserName" resultMap="userMap">
        SELECT u.id uid,u.username,r.id,r.NAME rname
        FROM t_user u
                 LEFT JOIN t_user_role ur
                           ON u.id=ur.userid
                 LEFT JOIN t_role r
                           ON ur.roleid=r.id
        WHERE u.username=#{username}
    </select>

    <select id="findPermsByRoleId" resultType="com.kenshine.entity1.Perms">
        SELECT p.id,p.NAME,p.url,r.NAME
        FROM t_role r
                 LEFT JOIN t_role_perms rp
                           ON r.id=rp.roleid
                 LEFT JOIN t_pers p ON rp.permsid=p.id
        WHERE r.id=#{id}
    </select>



</mapper>