<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>

    <!--引入外部配置文件-->
    <!--<properties resource="db.properties"/>-->

    <properties resource="db.properties">
        <property name="username" value="root"></property>
        <property name="password" value="zjx123456"></property>
    </properties>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--typeAlias 起别名-->
    <typeAliases>
    <!--<typeAlias alias="User" type="com.kenshine.demo02.pojo.User"></typeAlias>-->
        <!--方式二：通过包名起别名，默认名为类首字母小写-->
        <package name="com.kenshine.pojo"/>
    </typeAliases>

    <!--开发环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--UNPOOLED POOLED JNDI-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
        <!--第二套环境-->
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?userSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="zjx123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.kenshine.mapper" />
    </mappers>
</configuration>