<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.celldata</id>
    <name><![CDATA[图表单元格数据源]]></name>
    <active>yes</active>
    <version>1.1</version>
    <env-version>10.0</env-version>
    <jartime>2021-05-26</jartime>
    <vendor>finereport.chart</vendor>
    <description><![CDATA[图表单元格数据源取数逻辑优化，解决了一些单元格取数的问题，支持了更多的单元格取数场景]]></description>
    <change-notes><![CDATA[
	<p>[2021-06-04]<a>优化了除甘特图和地图之外的图表单元格数据</a></p>
	<p>[2021-07-26]优化了甘特图和地图单元格数据</p>
	]]></change-notes>
    <function-recorder class="com.fr.plugin.chart.ExecuteCellData"/>

    <extra-chart>
        <ExecuteCellDataProcessor class="com.fr.plugin.chart.ExecuteCellData"/>
    </extra-chart>

</plugin>